{% extends 'base.html' %}
{% block content %}
<style>
    .done-box { text-align: center; margin-top: 50px; }
    .done-box .fa { font-size: 80px; color: #5bc0de; margin-bottom: 20px; }
</style>
<div class="done-box">
    <i class="fa fa-check-circle-o"></i>
    <h3>第 {{ round }} 轮完成！</h3>
    <a href="{% url 'quiz_answer' kp2.id %}?next=1" class="btn btn-primary btn-lg" style="margin-right:10px;">
        继续答题
    </a>
    <a href="{% url 'quiz_kp_tree' %}" class="btn btn-default btn-lg">
        返回知识点列表
    </a>
</div>
{% endblock %}
